
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <h2>Registro</h2>
    <input type="text" name="username" value="" placeholder="Nombre de usuario" />
    <input type="email" name="email" value="" placeholder="Email" />
    <input type="password" name="password" value="" placeholder="Contraseña" />

    <input type="submit" value="Register" class="btn btn-default" />
}



